<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.mapper.loginMapper">


    <select id="loginUser"  resultType="User">
        SELECT * FROM user WHERE user_tel = #{user_tel} and user_password = #{user_password}
    </select>

    <select id="selectUser" resultType="User" parameterType="int">
        select * from user where user_tel = #{user_tel}
    </select>

    <insert id="addUser" parameterType="User">
        insert into user value (null,#{user_tel},#{display_name},#{user_password},null,null,null,0,0,#{registration_time},1)
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        set
            display_name=#{display_name}
            user_password=#{user_password},
            user_introduce=#{user_introduce},
            user_place=#{user_place},
            user_photo=#{user_photo},
            user_fans=#{user_fans},
            user_follow=#{user_follow},
            registration_time=#{registration_time},
            user_privilege=#{user_privilege}
        where
            user_id=#{user_id}
    </update>

    <select id="findAllUser" resultType="User">
        SELECT * FROM user
    </select>
    <select id="selectUserbyName" resultType="com.system.pojo.User">
        SELECT * FROM USER
        WHERE display_name = #{display_name}
    </select>

</mapper>
