<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.mapper.recipeMapper">
    <resultMap id="recipeMapper" type="com.system.pojo.recipe">
        <id column="RECIPE_ID" jdbcType="INTEGER" property="id"/>
        <result column="RECIPE_NAME" jdbcType="VARCHAR" property="name"/>
        <result column="RECIPE_PIC" jdbcType="VARCHAR" property="pic_url"/>
        <result column="RECIPE_TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="RECIPE_DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="RECIPE_MATERIAL" jdbcType="VARCHAR" property="material"/>
        <result column="RECIPE_STEP" jdbcType="VARCHAR" property="step"/>
        <result column="RECIPE_TRICK" jdbcType="VARCHAR" property="trick"/>
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="create_time"/>
        <result column="LAST_MODIFIED_TIME" jdbcType="VARCHAR" property="last_modified_time"/>
        <result column="COMMENTS" jdbcType="BIGINT" property="comments"/>
        <result column="VIEWS" jdbcType="BIGINT" property="views"/>
        <result column="LIKES" jdbcType="BIGINT" property="likes"/>
        <result column="AUTHOR" jdbcType="INTEGER" property="author"/>
    </resultMap>

    <insert id="create_recipe">
        insert into recipes value (null,#{name},#{pic_url},#{type},#{description},#{material},#{step},#{trick},#{create_time},#{last_modified_time},0,0,0,#{author})
    </insert>

    <update id="update_recipe">
        update recipes
        set RECIPE_NAME=#{name},
            RECIPE_PIC=#{pic},
            RECIPE_TYPE=#{type},
            RECIPE_DESCRIPTION=#{description},
            RECIPE_MATERIAL=#{material},
            RECIPE_STEP=#{step},
            RECIPE_TRICK=#{trick},
            LAST_MODIFIED_TIME=#{last_modified_time}
        where
            RECIPE_ID=#{id}

    </update>

    <select id="get_all_recipes" resultMap="recipeMapper">
        select * from recipes
    </select>

    <select id="getLatest" resultMap="recipeMapper">
        select *
        from recipes
        order by LAST_MODIFIED_TIME desc
        limit 3
    </select>
    <select id="getPopular" resultMap="recipeMapper">
        select *
        from recipes
        order by LIKES desc
        limit 6
    </select>
    <select id="selectById" resultMap="recipeMapper">
        select *
        from recipes
        where RECIPE_ID = #{id}
    </select>
    <select id="getUser" resultType="User">
        select *
        from user
        where user_id in (
            select AUTHOR
            from recipes
            where RECIPE_ID = #{id}
        )
    </select>


</mapper>