
.navbar-nav > li > a{
    padding-top:15px ;
    padding-bottom:0 ;
    height: 50px;
}

body{
    background: #FDF5E6;
}

.main{
    margin: 50px 100px;
    background-color: white;
}

.navbar navbar-default{
    background-color: #ffe877;
}
.warning-message{
    padding-left: 15px;
    color: red;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.page-bar{
    float: right;
}

.media-object{
    height: 70px;
    width: 70px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.media-body{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumbnail >img{
    height: 233px;
}

.img-object{
    width: auto;
    object-fit: cover;
    display: block;
}

.slide-img{
    width: 950px;
    height: 400px;
}
.item{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.carousel-inner{
    width: 950px;
    height: 450px;
}