<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${user.display_name}]]的个人空间 -- 众食谱</title>
    <link rel="icon" th:href="@{/img/logo.ico}"  type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/recipe.css}">

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/recipe.js}"></script>


</head>




<body style="background-color: #fff4e8">
<div th:replace="index :: topbar"></div>

<div class="container-fluid">

    <div class="row main">
        <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0">
            <img class="main-image img-responsive" th:src="@{user.user_photo}">
        </div>
        <div  class="col-lg-8 col-md-8 col-sm-8 mainInfo">
            <div id="name" class="col-lg-6 col-md-6 col-sm-6" style="height: 100px">
                <h2 class="title">[[${user.display_name}]]</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="height: 100px" >
                233
            </div>

            
    </div>

    <div class="row main" style="margin-top: 40px;">

    </div>

    <div class="row main" style="margin-top: 40px;">

    </div>
</div>
</body>
</html>