<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${recipe.name}]]</title>
    <link rel="icon" th:href="@{/img/logo.ico}"  type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/recipe.css}">

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/recipe.js}"></script>

    <script th:inline="javascript" type="text/javascript">
        $(function material(){
            var jsonstr =[[${recipe.material}]];
            console.log(jsonstr);
            var obj=JSON.parse(jsonstr);
            console.log(obj);
            var ZL = obj[0];
            var FL = obj[1];
            for (var i in ZL){
                if (ZL == "null") {
                    $(".label-danger").css("display","none");
                }else {
                    var txt = "<div>" + "<div>" + i + "</div>" + "<span>" + ZL[i] + "</span>" + "</div>";
                    $("#ZhuLiao").append(txt);
                }
            }
            for (var i in FL){
                if (FL == "null"){
                    $(".label-default").css("display","none");
                }else {
                    var txt = "<div>" + "<div>" + i + "</div>" + "<span>" + FL[i] + "</span>" + "</div>";
                    $("#FuLiao").append(txt);
                }
            }
            $("#ZhuLiao>div")
                .css("width","310px")
                .css("padding-right","50px")
                .css("margin-bottom","10px");
            $("#ZhuLiao>div>div")
                .css("display","inline list-item");
            $("#ZhuLiao>div>span")
                .css("float","right")
                .css("font-size","12px")
                .css("color","grey");

            $("#FuLiao>div")
                .css("width","310px")
                .css("padding-right","50px")
                .css("margin-bottom","10px");
            $("#FuLiao>div>div")
                .css("display","inline list-item");
            $("#FuLiao>div>span")
                .css("float","right")
                .css("font-size","12px")
                .css("color","grey");;
        })



    </script>

</head>




<body style="background-color: #fff4e8">
<div th:replace="index :: topbar"></div>

<div class="container-fluid">

    <div class="row main">
        <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0">
            <img class="main-image img-responsive" th:src="@{/img/recipe/}+${recipe.id}+-main.jpg">
        </div>
        <div  class="col-lg-8 col-md-8 col-sm-8 mainInfo">
            <div id="name" class="col-lg-6 col-md-6 col-sm-6" style="height: 100px">
                <h2 class="title">[[${recipe.name}]]</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="height: 100px" >
                <div class="liked">
                    <a id="liked" class="liked-number text-center" >
                        <span class=" glyphicon glyphicon-heart-empty"></span>&nbsp;
                        ([[${recipe.likes}]])
                    </a><a class="liked-share text-center" >
                        分享
                    </a>
                    <a th:if="${user != null && user.user_id == recipe.author}">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                        编辑
                    </a>
                </div>
            </div>
            <div id="info2" class="col-lg-12 col-md-12 col-sm-12 info2">
                <span>分类</span>
                <span class="label label-success" th:each="type : ${type}">[[${type}]]</span>
            </div>
            <hr style="margin-top: 3px">
            <p id="description" class="col-lg-12 col-md-12 col-sm-12 description">
                [[${recipe.description}]]
            </p>
            <hr style="margin-top: 3px">
            <div id="userinfo" class="col-lg-12 col-md-12 col-sm-12" th:if="${user!=null}">
                <a><img class="icon-user" th:src="${user.user_photo}"></a>
                <div class="user-info">
                    <a><span>[[${user.display_name}]]</span></a>
                    <div>菜谱：[[${user.user_upload}]]&nbsp;/&nbsp;关注：[[${user.user_follow}]]&nbsp;/&nbsp;粉丝：[[${user.user_fans}]]</div>
                    <span id="info" class="col-lg-12 col-md-12 col-sm-12 info">
                        最新修改时间：[[${recipe.last_modified_time}]] &nbsp;|&nbsp;阅读量：[[${recipe.views}]]
                    </span>
                </div>

            </div>

        </div>
    </div>

    <div class="row main" style="margin-top: 40px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                <span class="glyphicon glyphicon-grain">用料</span>
            </h3>
            <hr style="margin-top: 3px">
            <div id="material">
                <div  class="ZhuLiao">
                    <span class="label label-danger" >主料</span>
                    <div id="ZhuLiao"></div>
                </div>
                <div  class="FuLiao">
                    <span class="label label-default">辅料</span>
                    <div id="FuLiao"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main" style="margin-top: 40px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                <span class="glyphicon glyphicon-menu-hamburger">步骤</span>
            </h3>
            <hr style="margin-top: 3px">

        </div>
    </div>
</div>
</body>
</html>